*:focus:not([tabindex='-1']) {
  outline: none;

  @media (min-width: 768px) {
    outline: 3px dashed var(--c-brand);
  }
}

footer *:focus:not([tabindex='-1']) {
  outline: none;

  @media (min-width: 768px) {
    outline: 3px dashed #fff;
  }
}

.hide-pseudo {
  &:before {
    display: none;
  }
  &:after {
    display: none;
  }
}
