/* PAGE */

.page {
  font-family: var(--f-main);
  font-size: 16px;

  @media (min-width: 576px) {
    font-size: 18px;
  }

  @media (min-width: 1300px) {
    font-size: 20px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--c-lightgray);
  }

  &__content {
    flex: 1 0 auto;
    overflow-x: hidden;
  }
}

.page.menu-on .page__body {
  overflow: hidden;
}
