.post-list {
  grid-column: 1 / span 4;

  @media (min-width: 768px) {
  }
  @media (min-width: 992px) {
    grid-column: 1 / span 3;
  }
}

/* POST */
.post {
  display: flex;
  flex-direction: column;

  &:not(:first-child) {
    margin-top: 1rem;
  }
}

.post__inner {
  background: #fff;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 2px 4px;
  transition: box-shadow 0.2s;

  &:hover,
  &:focus-within {
    box-shadow: rgba(102, 51, 153, 0.2) 5px 20px 50px;
  }
}

.post__title {
}

.post__info {
  display: flex;
  margin-top: 1rem;

  & svg {
    height: 30px;
    width: 30px;
    fill: var(--c-brand);
  }
}

.post__info-item {
  display: flex;
  align-items: center;

  &:not(:first-child) {
    margin-left: 10px;
  }

  & span {
    margin-left: 6px;
  }
}

.post__text {
  line-height: 1.4;
}

.post__link {
  border: 2px solid var(--c-brand);
  padding: 1rem;
  text-transform: uppercase;
  color: var(--c-brand);
  text-decoration: none;
  margin-left: auto;
  display: inline-block;
}
