/* VK VIGET */

.vk {
  height: 164px;
  max-width: 300px;
  min-width: 300px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / span 4;
  margin: 0 auto;

  @media (min-width: 576px) {
    grid-column: 3 / 5;
  }
  @media (min-width: 992px) {
    grid-column: 4 / 5;
    width: 100%;
    max-width: initial;
    min-width: initial;
  }
}
