/* VK VIGET */

.vk {
  height: 164px;
  max-width: 300px;
  min-width: 300px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / span 4;
  margin: 0 auto;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 2px 4px;
  transition: box-shadow 0.2s;

  &:hover,
  &:focus-within {
    box-shadow: rgba(102, 51, 153, 0.2) 5px 20px 50px;
  }

  @media (min-width: 576px) {
    grid-column: 3 / 5;
  }
  @media (min-width: 992px) {
    grid-column: 4 / 5;
    width: 100%;
    max-width: initial;
    min-width: initial;
  }
}
